#property
  %h2= t('controller.repositories.edit', :name => @repository.name)
  = form_for  @repository do |f|
    = debug @repository.errors.messages if @repository.errors.any?
    
    %table
      %tr
        %td.label= f.label :name
        %td= @repository.name
      %tr
        %td.label= f.label :url
        %td= link_to @repository.url, @repository.url, :target => '_blank'
      %tr
        %td.label= f.label :section
        %td= f.select :section, YavdrInternalServer::SECTIONS, :include_blank => true
      %tr
        %td.label= f.label :build_type
        %td= f.select :build_type, [['Nicht baubar', ''], ['Baubar', 'buildable'], ['Automtisch bauen', 'autobuild']]
      %tr
        %td.label &#160;
        %td= f.submit
        
