#property
  %h2= t('controller.builds.new')
  = form_for @build do |f|
    = debug @build.errors.messages

    %table
      %tr
        %td.label= f.label :repository_id
        %td= f.select :repository_id, Repository.all.collect {|p| [ p.name, p.id ] }, :include_blank => true
      %tr
        %td.label= f.label :dist
        %td= f.select :dist, [['Natty', 'natty'], ['Oneiric', 'oneiric']]
      %tr
        %td.label= f.label :branch
        %td= f.text_field :branch
      %tr
        %td.label= f.label :stage
        %td= f.select :stage, [['Unstable', 'unstable'], ['Testing', 'testing'], ['Stable', 'stable']]

      %tr
        %td.label &#160;
        %td= f.submit



