#property
  %h2= t('controller.users.edit', :email => @user.email)

  =form_for @user do |f|
    = debug @user.errors.messages if @user.errors.any?

    %table
      %tr
        %td.label= f.label :email
        %td= @user.email
      %tr
        %td.label= f.label :role
        %td= f.select :role, YavdrInternalServer::ROLES.invert, :include_blank => true
      %tr
        %td.label= f.label :commit_mail
        %td= f.check_box :commit_mail
      %tr
        %td.label &#160;
        %td= f.submit


