#index
  %h2= t('controller.github/repositories.index')

  %table
    %thead
      %th Name
      %th URL
      %th BuildType
      %th Optionen
    %tbody
      -@repositories.each do |repository|
        =content_tag_for :tr, repository do
          %td= repository.name
          %td= link_to repository.url, repository.url, :target => '_blank'
          %td= repository.autobuild? ? 'Automatisch bauen' : (repository.buildable? ? 'Baubar' : 'Nicht baubar')
          %td= link_to "Ändern", [:edit, repository]

