!!! 5
%html
  %head
    %title YaVDR Internal Server
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    %header
      %h1  YaVDR Internal Server
      %menu
        %li= link_to "Logoverwaltung", :logos
      -if user_signed_in?
        #current_user
          Logged in as
          = current_user.email
          = link_to t('devise.logout'), :destroy_user_session, :method => :delete
        

    #container
      - unless notice.blank? && alert.blank?
        #flash
          .wrapper
            - unless notice.blank?
              %p.notice= notice
            - unless alert.blank?
              %p.alert= alert

      = yield

    %footer
      YaVDR Internal Server 
