!!! 5
%html
  %head
    %title YaVDR Internal Server
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      %header
        #meta
          -if user_signed_in?
            Logged in as
            = current_user.email
            |
            = link_to "Logout", :destroy_user_session, :method => :delete
        %h1  YaVDR Internal Server
        %menu.clearfix
          %li= link_to "Home", :root
          %li= link_to "Logos", :logos
          %li= link_to "Repositories", :github_repositories


      #main{ :role => :main }
        - unless notice.blank? && alert.blank?
          #flash
            - unless notice.blank?
              .notice= notice
            - unless alert.blank?
              .alert= alert

        = yield

      %footer
        YaVDR Internal Server
