!!! 5
%html
  %head
    %title YaVDR Internal Server
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    #container
      %header
        #meta
          -if user_signed_in?
            = t('base.logged_in', :email => current_user.email)
            |
            = link_to t('base.logout'), :destroy_user_session, :method => :delete
        %h1  YaVDR Internal Server
        %menu.clearfix
          %li= link_to t('menu.dashboard'), :root
          %li= link_to t('menu.logos'), :logos
          %li= link_to t('menu.github/repositories'), :github_repositories
          %li= link_to t('menu.users'), :users


      #main{ :role => :main }
        - unless notice.blank? && alert.blank?
          #flash
            - unless notice.blank?
              .notice= notice
            - unless alert.blank?
              .alert= alert

        = yield

      %footer
        YaVDR Internal Server
